.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.reset-password-box {
    background-color: #f0f0f0;
    padding: 60px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 90vw;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.reset-password-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.reset-password-subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: #555;
    margin-bottom: 20px;
}

.reset-password-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 16px;
}

.reset-password-button {
    background-color: #74B9AD;
    width: 50%;
    margin-top: 5px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.reset-password-button:hover {
    background-color: #3c9186;
}
