.view-user-content {
    display: flex;
    flex-direction: column;
    padding: 32px 32px 24px 32px;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.view-user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-user-btn-container{
    display: flex;
    gap: 16px;
}

.view-user-back-btn{
    background: #fff;
    color: #03a791;
    border: 2px solid #03a791;
    border-radius: 6px;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 0;
}

.view-user-back-btn:hover {
    background: #03a791;
    color: #fff;
}

.view-user-create-btn {
    background: #03a791;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.view-user-create-btn:hover {
    background: #028c7e;
}

.user-form label {
    display: block;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: 500;
}

.user-form-input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    background: #ededed;
    margin-bottom: 8px;
    font-size: 16px;
}

.selector-container {
  display: flex;
  gap: 20px; /* espacio entre columnas */
  align-items: flex-start; /* alinea las etiquetas arriba */
}

.selector-group {
  flex: 1; /* hace que cada columna tenga el mismo ancho */
}
