.delivery-dashboard-content {
    padding: 32px 40px 32px 40px;
    /* Arriba, derecha, abajo, izquierda */
    min-height: 100vh;
    background: #fff;
}

.delivery-dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.delivery-dashboard-header-left{
    display: flex;
    align-items: center;
    gap: 32px;
}

.delivery-dashboard-title {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #222;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #ddd;
  border-radius: 20px;
  padding: 5px 10px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  padding: 5px;
}

.icon {
  margin-left: 5px;
  font-size: 14px;
}

.delivery-dashboard-create-btn {
    background: #03a791;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.delivery-dashboard-create-btn:hover {
    background: #028c7e;
}

.btn-actions-delivery{
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-update-delivery {
    background: #03a791;
    border: none;
    border-radius: 5px;
    padding: 5px 6px;
    cursor: pointer;
}

.btn-update-delivery:hover {
    background: #028c7e;
}

.btn-delete-delivery {
    background:rgb(2, 124, 108);
    border: none;
    border-radius: 5px;
    padding: 5px 6px;
    cursor: pointer;
}

.btn-delete-delivery:hover {
    background:rgb(1, 104, 94);
}

.btn-view-delivery-green {
    background-color: #27ae60; /* Verde */
    border: none;
    border-radius: 5px;
    padding: 5px 6px;
    cursor: pointer;
}
.btn-view-delivery-green:hover {
    background-color: #219150;
}

.location-delivery-dashboard-flex {
  display: flex;
  flex-direction: column;
}

.map-delivery-container {
  height: 400px;
  width: 100%;
}

.map-delivery {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
