.roles-dashboard-content {
    padding: 32px 40px 32px 40px;
    /* Arriba, derecha, abajo, izquierda */
    min-height: 100vh;
    background: #fff;
}

.roles-dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.roles-dashboard-title {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #222;
}

.roles-dashboard-create-btn {
    background: #03a791;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.roles-dashboard-create-btn:hover {
    background: #028c7e;
}


.roles-dashboard-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.roles-dashboard-table th {
    background: #F6F6F6;
    padding: 12px 8px;
    font-weight: 600;
    text-align: left;
}

.roles-dashboard-table td {
    background: #E8E7E7;
    padding: 12px 8px;
}

.btn-actions-role{
    display: flex;
    align-items: center;
    gap: 2px;
}

.btn-update-role {
    background: #03a791;
    border: none;
    border-radius: 5px;
    padding: 5px 6px;
    cursor: pointer;
}

.btn-update-role:hover {
    background: #028c7e;
}

.btn-delete-role {
    background:rgb(2, 124, 108);
    border: none;
    border-radius: 5px;
    padding: 5px 6px;
    cursor: pointer;
}

.btn-delete-role:hover {
    background:rgb(1, 104, 94);
}

.swal2-input, .swal2-textarea {
    border-radius: 6px !important;
    border: 1px solid #03a791 !important;
    padding: 10px 14px !important;
    font-size: 16px !important;
    background: #E8E7E7 !important;
    color: #222 !important;
    margin-bottom: 10px !important;
    font-family: 'Segoe UI', 'Arial', 'sans-serif' !important; 
}

.swal2-confirm, .swal2-cancel {
    background: #03a791 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 6px !important;
    padding: 8px 24px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    margin: 0 8px !important;
    box-shadow: none !important;
    font-family: 'Segoe UI', 'Arial', 'sans-serif' !important; 
}

.swal2-confirm:hover, .swal2-cancel:hover {
    background: #028c7e !important;
    color: #fff !important;
    font-family: 'Segoe UI', 'Arial', 'sans-serif' !important; 
}